@charset "UTF-8";

body {
    background-color: #D8F2F2;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
}

h1 {
    color: #03A6A6;
    font-size: 25px;
}

h2 {
    color: #BF8B2A;
    font-size: 20px;
}

nav {
    background-color: #03A6A6;
    padding: 5px;
    box-shadow: 0px 5px 5px; color: #bf8b2a88;
}

.cafe {
    width: 300px;
    height: 250px;
    background-color: #F2CC0C;
    border-style: solid;
    border-width: 10px;
    border-color:#F2CC0C;
    padding: 20px;
    outline-width: 10px;
    outline-style: solid;
    outline-color: #BF8B2A;
    margin: 40px 10px;
}
